{% extends "index.html" %}
{% load socialaccount %}

{% block content %}
<div class="container mt-4">
    <!-- add an interaction -->
    {% block addpost %}
    <a href="/journal/add/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add an Entry</a>
    {% endblock addpost%}

    <!-- interaction content -->
    {% block interactions %}
        {% for inter in interactions %}
        <div class="col-xs-1" align="center">
            <div class="card" style="width: 26rem;" align="center">
                <div class="card-body">
                <h5 class="card-title">{{ inter.title }}</h5>
                <p class="card-text">{{ inter.conversations }}</p>
                <p class="card-text">{{ inter.time }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock interactions%}
</div>
{% endblock content%}
